[submodule "rest-rpc-play"]
	path = rest-rpc-play
	url = https://github.com/sunchen115/rest-rpc-play.git
[submodule "rest-rpc-sample"]
	path = rest-rpc-sample
	url = https://github.com/sunchen115/rest-rpc-sample.git
